.serieRow {
  margin-bottom: 30px;
}

.serieRow h2 {
  margin: 0 30px;
}

.serieRow-listarea {
  overflow-x: hidden;
  padding-left: 30px;
}

.serieRow-list {
  width: 1000000px;
}

.serieRow-item {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.serieRow-item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.serieRow-item img:hover {
  transform: scale(1);
}