.serieRow {
  margin-bottom: 30px;
}

.serieRow h2 {
  margin: 0px 0px 0px 30px;
}

.serieRow-listarea {
  overflow-x: hidden;
  padding-left: 30px;
}

.serieRow-list {
  transition: all ease 0.5s;
}

.serieRow-item {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.serieRow-item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.serieRow-item img:hover {
  transform: scale(1);
}

.serieRow-left, .serieRow-right {
  position: absolute;
  width: 40px;
  height: 225px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  cursor: pointer;
  opacity: 0;
  transition: all ease 0.2s;
}

.serieRow-left {
  left: 0;
}

.serieRow-right {
  right: 0;
}

.serieRow:hover .serieRow-left,
.serieRow:hover .serieRow-right {
  opacity: 1;
}

@media (max-width: 760px) {
  .serieRow-left,
  .serieRow-right {
    opacity: 1;
  }
}